# IntelliJ IDEA Dosyaları
.idea/
*.iml
*.iws
out/

# VS Code Dosyaları
.vscode/
*.code-workspace

# Maven Derleme Dosyaları
target/
dependency-reduced-pom.xml

# Derlenmiş Java Dosyaları
*.class
*.jar
!maven-wrapper.jar

# Log Dosyaları
*.log
logs/

# Geçici Dosyalar
*.tmp
*.bak
.temp/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db 